extends layout

block content
    br
    br
    h2 ID: #{bookinstance._id}
    br

    p #[strong(class="text-muted font-weight-bold") Title: ]
        a(href=bookinstance.url style="color:cadetblue;font-size:1.1rem") #{bookinstance.book.title}
    p #[strong(class="text-muted font-weight-bold") Imprint: ] #{bookinstance.imprint}
    p #[strong(class="text-muted font-weight-bold") Status: ]
        if bookinstance.status=='Available'
            span.bg-success.badge.badge-pill.p-2.font-weight-bold #{bookinstance.status}
        else if bookinstance.status=='Maintenance'
            span.bg-danger.badge.badge-pill.p-2.font-weight-bold #{bookinstance.status}
        else
            span.bg-warning.badge.badge-pill.p-2.font-weight-bold #{bookinstance.status}
    if bookinstance.status!='Available'
        p #[strong(class="text-muted font-weight-bold") Due back: ] #{bookinstance.due_back_formatted}   